.comment-wrapper {
  height: 400px;
  border: 1px solid gray;
  padding: 12px;
  overflow: scroll;
}

.robot-bubble {
  clear: both;
  border-radius: 4px;
  background: #eee;
  padding: 6px 10px;
  margin-bottom: 8px;
  display: inline-block;
  float: left;
}

.human-bubble {
  clear: both;
  border-radius: 4px;
  background: blue;
  color: white;
  padding: 6px 10px;
  margin-bottom: 8px;
  display: inline-block;
  float: right;
}
